

#mainphoto{
  object-fit: cover;
  min-height: 500px;
  width: 95%; 
  height: auto;
  float:center;
  clear:center;
  margin-left:3%;
  margin-right:3%;
  margin-bottom: 3%;

}



.headings{
  position: relative;
  margin-left: 85%;
  font-family: sans-serif;
  font: Verdana;
}


vertical-menu {
  width: 50px; /* Set a width if you like */
}
 

.vertical-menu a {
  font-family: sans-serif;
  font: Verdana;
  /*background-color: white; /* Grey background color */
  color: black; /* Black text color */
  display: inline; /* Make the links appear next to each other */
  padding: 14px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-weight: 200;
  transform: rotate(90deg);
}

.vertical-menu a:hover {
  color: dimgrey;
}

#rotatetext{
     margin-left: 3px;
     float: right;
}